body {
    padding: 0;
    margin: 0;
}

.button {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    width: auto;
    height: 30px
}


.link a {
    margin: auto;
    padding-left: 50%;
}